<header>
  <nav
    class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3"
  >
      <div class="container">
          <a class="navbar-brand" [routerLink]="['/']">{{myname}}</a>
          <button class="navbar-toggler"
                  type="button"
                  data-toggle="collapse"
                  data-target=".navbar-collapse"
                  aria-label="Toggle navigation"
                  [attr.aria-expanded]="isExpanded"
                  (click)="toggle()">
              <span class="navbar-toggler-icon"></span>
          </button>
          <div *ngIf="authorizeble"
               class="navbar-collapse collapse d-sm-inline-flex justify-content-end"
               [ngClass]="{ show: isExpanded }">
              <ul class="navbar-nav flex-grow">
                  <li class="nav-item"
                      [routerLinkActive]="['link-active']"
                      [routerLinkActiveOptions]="{ exact: true }">
                      <a class="nav-link text-dark" [routerLink]="['/']">Профиль</a>
                  </li>
                  <li class="nav-item" [routerLinkActive]="['link-active']">
                      <button class="btn btn-default" (click)="exit()">выйти</button>
                  </li>
              </ul>
          </div>
          <div *ngIf="!authorizeble"
               class="navbar-collapse collapse d-sm-inline-flex justify-content-end"
               [ngClass]="{ show: isExpanded }">
              <ul class="navbar-nav flex-grow">
                  <li class="nav-item"
                      [routerLinkActive]="['link-active']"
                      [routerLinkActiveOptions]="{ exact: true }">
                      <a class="nav-link text-dark" [routerLink]="['/authorize']">Авториация</a>
                  </li>
              </ul>
          </div>

      </div>
  </nav>
</header>

